{% extends '::base.html.twig' %}

{% block title %}Książka adresowa - zmiana danych{% endblock %}

{% block top %}
    <h3>Zmiana danych</h3>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Zatwierdź">
    {{ form_end(form) }}
{% endblock %}


