{% extends 'base.html.twig' %}

{% block body %}
    <h2>Dodaj kandydata</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Zatwierdź" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('candidate_index') }}">Wszystkie</a>
        </li>
    </ul>
{% endblock %}
